.timepicker-input {
    font: unset;
    height: unset;
    padding: 15px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    color: #eee;
    font-size: 17px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    box-sizing: border-box;
  .MuiInputBase-root {
    font-size: 16px;
  }
}
