.actionBar{
    display: flex;


    .btn{
        display:flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;

        svg{
            fill: #fff;
            height: 75px;
            width: auto;
        }
        
        p{ 
            color:#fff;
            margin-top: 5px;
        }

        &:hover, &:active{
            background: rgba(0,0,0,.5);
            border-radius: 20px;
        }
    }

    .scanLight{
        display:flex;
        flex-direction: column;
        cursor: pointer;
        
        
        svg{
            height: 75px;
            width: auto;
        }

        p{ 
            color:#fff;
            margin-top: 5px;
        }
    }

}