.devicecard {
    width: 380px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.09);
    background: linear-gradient(45deg, rgba(255,255,255,.05) 0%, rgba(255,255,255,0.2) 100%);
    border-radius: 20px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #ddd;
    padding: 20px;
}