.glassContainer {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.09);
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 20px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 10px;
  color: #eee;
  width: fit-content;
  min-width: 380px;

  &.spacer {
    margin-bottom: 40px;
  }
  @media screen and (max-width: 750px) {
    width: 100%;
    min-width: 0px;
    max-width: 380px;
  }
}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .glassContainer {
    position: relative;
    background: rgba(255, 255, 255, 0.2);
  }

  .glassContainer:after {
    content: "";
    background: url(../../static/images/background.webp) no-repeat 50%;
    background-size: cover;
    filter: blur(30px);
    transform: scale(1.1);
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
