.Modal{
  position: absolute;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.09) ;
  background: linear-gradient(45deg, rgba(255,255,255,.05) 0%, rgba(255,255,255,0.2) 100%);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  inset: 60px;
  border: 1px solid rgba(255, 255, 255, 0.05);


  .header {
    display: flex;
    font-size: 20px;
    color: #ccc;

    .headline {
      flex: 1 1 auto;
    }

    .iconbox {
      flex: 0 0 auto;

      button {
        background: none;
        width: 25px;
        height: 25px;
        border: none;

        svg {
          color: #ccc;
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .wizardContent {
    p {
      color: #fff;
      margin-top: 5px;
    }
    label{
      color: #fff;
      margin-top: 5px;
    }

    .scene {
      background-size: cover;
      border-radius: 15px;
      width: 300px;
      /*background: rgba(255,255,255,.09);*/
      height: 125px;
      margin-bottom: 20px;
      margin-right: 20px;
      box-sizing: border-box;
  
      &.selected {
        border: 2px solid #ddd;
        background-size: cover;
      }
  
      &:hover {
        border: 2px solid #ddd;
        background-size: cover;
        
      }
  
      .dimmer{
        display: flex;
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 15px;
        flex: 0 0 auto;
        
        .color {
          flex: 0 0 auto;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: rgb(35, 129, 236);
          display: inline-block;
          margin-left: -15px;
          border: 0.1px solid #aaa;
          box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.5);
        }
  
        .color:nth-child(1) {
          margin-left: 0;
        }
  
        .name {
          flex: 1 1 auto;
          color: #eee;
          display: inline-block;
          height: 30px;
          width: 100%;
          margin: 0 15px;
          line-height: 30px;
        }
      }
  
      .dynamiccontrol {
        flex: 0 0 auto;
        width: 30px;
        height: 30px;
        text-align: center;
        color: #ccc;
        font-size: 25px;
      }
    }
  }


}
  
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
}

@media screen and (max-width: 750px) {

  .Modal{
      inset: 10px;
    }

}

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {

.Modal{
    background: rgba(0,0,0,.7);
  }
    
}