.pageContent {
  width: auto;
  padding: 10px;

  label {
    margin: 10px 0 10px 0px;
    display: block;
    font-size: 14px;
    color: #eee;
  }

  &.spacer {
    margin-bottom: 20px;
  }

  .headline {
    font-size: 20px;
    color: #ccc;
    margin-bottom: 25px;
  }

  a {
    color: #aaa;
    margin-left: 5px;
  }

  .switchContainer {
    height: 55px;
    margin: 20px 0 0 5px;

    p {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

  p {
    color: #eee;
  }

  .supportsection {
    margin-top: 20px;

    svg {
      width: 30px;
      height: auto;
      margin: 10px 10px 0 10px;

      &:hover {
        color: #eee;
      }
    }
  }

  .coffee {
    height: 30px;
    width: 100%;
    margin: 20px 0 30px 0;

    p {
      color: #eee;
    }

    img {
      margin-top: 10px;
      height: 100%;
    }
  }
}

.creditGrid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

  .contactCard {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.09);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    color: #fff;

    a {
      color: #bbb;
    }

    .name {
      width: 100%;
      margin-bottom: 20px;
      font-size: 25px;
      letter-spacing: 5px;
    }

    .position {
      width: 100%;
      margin-bottom: 20px;
    }

    .about {
      width: 100%;
    }

    .iconbox {
      margin-top: 10px;
      display: flex;
      justify-content: center;

      svg {
        margin-right: 10px;
        margin-left: 10px;

        &:hover {
          color: #eee;
        }
      }
    }
  }
  @media screen and (max-width: 750px) {
    display: flex;
    justify-content: center;
    gap: 20px;
    .contactCard {
      gap: 20;
      margin-right: unset;
      display: flex;
      justify-content: center;
    }
  }
}

/* --- Forms ---*/
.form-control {
  margin-top: 20px;
}
