.gradient {
  display: flex;
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;

  svg {
    width: 25px;
    height: 25px;
    fill: #ddd;

    &.dark {
      fill: #222;
    }
  }
}
