.dropdown {
  width: 100%;
}

.Dropdown-root.is-open {
  .Dropdown-control {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.Dropdown-menu {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  border: none;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #333;

  .Dropdown-option {
    color: #333;

    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }
  }
}

.Dropdown-placeholder {
  font-size: 17px;
}

.Dropdown-arrow {
  margin-top: 10px;
  margin-right: 10px;
}

.generic-text-container {
  .generic-text__control {
    padding: 0 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    color: #eee;
    font-size: 17px;
    min-height: 48px;
    box-shadow: none;
    width: 100%;
    height: 51.5px;
    &:hover {
      border-color: rgba(255, 255, 255, 0.2);
    }
  }
  .generic-text__control--is-focused {
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: none;
  }
  .generic-text__single-value {
    color: #eee;
    font-size: 17px;
  }
  .generic-text__input-container {
    color: #eee;
  }
  .generic-text__placeholder {
    color: #bbb;
    font-size: 17px;
  }
  .generic-text__dropdown-indicator {
    color: #eee;
    &:hover {
      color: #333;
    }
  }
}
.generic-text__menu {
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  border-radius: 15px !important;
  background: rgba(255, 255, 255, 0) !important;
  backdrop-filter: blur(20px) !important;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5) !important;
  color: #ccc !important;
  max-height: 300px;
  overflow-y: auto;
  position: relative;
  padding-bottom: 4px;
  padding-top: 4px;
  box-sizing: border-box;
}
.generic-text__option {
  cursor: default;
  display: block;
  font-size: inherit;
  width: 100%;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: rgb(222, 235, 255);
  color: inherit;
  padding: 8px 12px;
  box-sizing: border-box;
}
.generic-text__option--is-focused {
  background: rgba(255, 255, 255, 0.3) !important;
  color: rgba(0, 0, 0, 0.7) !important;
}
.generic-text__option--is-selected {
  background: rgba(255, 255, 255, 0.7) !important;
  color: #333 !important;
}
