.IroHandle--isActive {
    circle:nth-of-type(2) {
      stroke: #000000;
    }
  }

.gradientDisplay{
    height: 15px;
    width: 300px;
    margin-top: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}