.sidebar {
  height: 100%;
  overflow-y: auto;

  ul {
    li {
      
      display: flex;
      flex-direction: column;
      
      transition: all .15s ease-in-out;
      display: flex;

      .menuEntry{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 7px;
        color: #eee;
        font-size: 18px;
      }

      .submenu{
        margin-left: 30px;
      }

      svg{
        width: 30px;
        margin-right: 10px;
        flex-shrink: 0;
      }

      p{
        flex-shrink: 0;
      }
    }

    a {
      text-decoration: none;
    }

    .menuentry:hover{
      transform: scale(1.1);
    }

    .menuentry.active{
      background: rgba(255,255,255,.2);
      border-radius: 15px;
    }

    ul{
      margin-left: 0;
      li{

      }
    }

  }
}

@media screen and (max-width: 750px) {
  
}
