.label {
  margin: 10px 0 10px 5px;
  display: block;
  font-size: 14px;
  color: #eee;
}
input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  padding: 15px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  color: #eee;
  font-size: 17px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  box-sizing: border-box;
}

input[type="text"]:read-only {
  background: none;
}

textarea {
  font-size: 12px;
  white-space: pre-wrap;
}
input::placeholder {
  color: #bbb;
}

input:focus {
  border-color: rgba(52, 152, 219, 1);
}
