.roomsetup {
  color: #fff;

  .storebutton {
    margin-top: 20px;
    width: 300px;
    height: 75px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.09);
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.2) 100%
    );
    border-radius: 20px;
    align-items: center;
    box-sizing: border-box;

    img {
      height: 100%;
      width: auto;
      object-fit: cover;
      border-radius: 12px;
    }

    p {
      margin: auto;
    }

    a {
      display: flex;
      height: 100%;
      align-items: center;

      svg {
        height: 75%;
        width: auto;
        fill: #fff;
        margin-left: 10px;
      }
    }
  }
  @media screen and (max-width: 750px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
